.uk-navbar-container {
    background-color: #222222 !important;
}

.uk-logo {
    font-size: 35px;
    font-weight: 100;
    color: #ffffff;
}

.uk-logo:hover {
    color: #ffffff !important;
    background-color: #222222 !important;
}

a, h1, h2, h3, h4, h5, h6 {
    font-weight: 100;

}

a, input {
    border-color: #222222 !important;
}

a:hover, input:hover, input:focus {
    color: #ffffff !important;
    background-color: #222222 !important;

}

#question_en,#question_ml{
    font-size:25px;
    font-weight: 400;
    color: #fff;
}

.uk-checkbox:checked,
.uk-checkbox:indeterminate {
    background-color: #222222;
    border-color: transparent;
}

.uk-checkbox {
    background-color: #ffffff;
}

.navbar-button {
    border-radius: 500px;
    color: #fff !important;
    border-color: #fff !important;
}

.navbar-button:hover {
    color: #222 !important;
    background-color: #fff !important
}

.gridcell {
    border-color: #222222 !important;
    border-width: thick;
}

.uk-text-lead {
    font-weight: 100;
    font-size: 30px;
}

.gridcell {
    border-color: #222222 !important;
    border: 2px !important;
}

.gridcell:hover {
    background-color: #0093F7 !important;
    color: #fff !important;
}

.doublered {
    color: #ff5e89;
    border-color: #ff5e89;
}

.doublered:hover {
    background-color: #ff5e89;
    color: #ffffff;
}

.doublegreen {
    color: #05dd9b;
    border-color: #05dd9b;
}

.doublegreen:hover {
    background-color: #05dd9b;
    color: #ffffff;
}

.questiontxt {
    color: #ffffff !important;
    font-size: 20px;

}

.infotxt {
    font-weight: 100 !important;
}

#qtimer {
    color: #0093F7 !important;
    font-weight: 300 !important;
    font-size:30px !important;
}

.options{
    font-size: 18px;
    font-weight:100;
}
